body {
    height: 100%;
}

.categories {
    display: flex;
    justify-content: space-evenly;
}

.title {
    color: white;
    font-size: 25px;
    margin-top: 15px;
    font-weight: bolder;
}

.backlog-container {
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    margin-left: 200px;
    z-index: -1;
    position: fixed;
}

.backlog {
    display: flex;
    justify-content: space-around;
    background-color: white;
    height: 100px;
    margin-left: 220px;
    margin-right: 20px;
    margin-top: 30px;
    border: 2px solid black;
    z-index: 3;
    align-items: center;
    border-radius: 10px;
}

.all-backlogs {
    display: flex;
    flex-direction: column;
}

.backlog-box {
    height: 100px;
    background-color: white;
    margin-left: 220px;
    margin-right: 50px;
    margin-top: 50px;
    margin-bottom: 30px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.titles-backlog {
    height: 100px;
    background-color: rgba(14, 14, 15, 0.35);
    position: absolute;
    right: 0;
    width: 100%;
    left: 205px;
}

.titles-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    padding-right: 80px;
    padding-left: 30px;
}

.Low {
    background-color: rgb(20, 92, 10);
    width: 44px;
    border-radius: 8px;
    text-align: center;
    color: white;
    margin-right: 8px;
    margin-left: 8px;
    padding: 5px;
}

.Normal {
    background-color: #2066ae;
    width: 62px;
    border-radius: 8px;
    text-align: center;
    color: white;
    margin-right: 8px;
    margin-left: 8px;
    padding: 5px;
}

.High {
    background-color: rgb(122, 7, 7);
    width: 44px;
    border-radius: 8px;
    text-align: center;
    color: white;
    margin-right: 8px;
    margin-left: 8px;
    padding: 5px;
}

.description {
    width: 40%;
    max-height: 100px;
    overflow-y: hidden;
}

.delete {
    width: 30px;
    margin-right: 20px;
}

.img-profile {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    object-fit: cover;
}

.profile {
    display: flex;
    text-align: center;
}

#tasks {
    max-height: 520px;
    overflow-y: auto;
    position: relative;
    top: 70px;
}

body::-webkit-scrollbar-thumb {
    background-color: transparent;
}