.categories {
    display: flex;
    justify-content: space-evenly;
}

.title {
    color: white;
    font-size: 25px;
    margin-top: 15px;
    font-weight: bolder;
}

.backlog-container {
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    background-color: #2066ae;
    opacity: 0.5;
    margin-left: 200px;
    z-index: -1;
    position: fixed;
}

.backlog {
    display: flex;
    justify-content: space-around;
    background-color: white;
    height: 100px;
    margin-left: 220px;
    margin-right: 20px;
    margin-top: 30px;
    border: 2px solid black;
    z-index: 3;
    align-items: center;
    border-radius: 10px;
}

.all-backlogs {
    display: flex;
    flex-direction: column;
}

.backlog-box {
    width: 80%;
    padding: 10px;
    border: 2px solid #2066ae;
    background-color: white;
    margin-left: 220px;
    margin-right: 50px;
    margin-top: 50px;
    margin-bottom: 30px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.titles-backlog {
    width: 80%;
    height: 100px;
    background-color: black;
    margin-left: 200px;
}