.categories {
    display: flex;
    justify-content: space-evenly;
}

.title {
    color: white;
    font-size: 25px;
    margin-top: 15px;
    font-weight: bolder;
}

.backlog-container {
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    margin-left: 200px;
    z-index: -1;
    position: fixed;
}

.backlog {
    display: flex;
    justify-content: space-around;
    background-color: white;
    height: 100px;
    margin-left: 220px;
    margin-right: 20px;
    margin-top: 30px;
    border: 2px solid black;
    z-index: 3;
    align-items: center;
    border-radius: 10px;
}

.all-backlogs {
    display: flex;
    flex-direction: column;
}

.backlog-box {
    height: 100px;
    background-color: white;
    margin-left: 220px;
    margin-right: 50px;
    margin-top: 50px;
    margin-bottom: 30px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.titles-backlog {
    height: 100px;
    background-color: rgba(14, 14, 15, 0.35);
    margin-left: 200px;
}

.titles-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    padding-right: 80px;
    padding-left: 80px;
}

.Low {
    background-color: rgb(20, 92, 10);
    width: 20px;
    height: 100px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    transform: scaleX(1.0);
}

.Normal {
    background-color: #2066ae;
    width: 20px;
    height: 100px;
    border-radius: 8px;
    transform: scaleX(1.0);
}

.High {
    background-color: rgb(122, 7, 7);
    width: 20px;
    height: 100px;
    border-radius: 8px;
}

.description {
    width: 40%;
    max-height: 100px;
    overflow-y: hidden;
}

.delete {
    position: absolute;
    font-size: 12px;
    right: 59px
}

.img-profile {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 60px;
}