body {
    margin: 0;
    background-image: url('../img/background_images/beach_blue.jpg');
    background-size: cover;
}

.all {
    display: flex;
    justify-content: space-between;
    width: 850px;
}



.contain h1 {
    color: whitesmoke;
}

.ToWrite {
    background-color: rgba(14, 14, 15, 0.35);
    width: 200px;
    min-height: 200px;
    max-height: 500px;
    overflow-y: auto;
}

.background {
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
}

.todo {
    background-color: #0065fd;
  
    border: ridge;
    
    text-align: center;
    overflow-wrap: break-word;
    margin: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: inherit;

}

.todo:hover {
    transform: translate(0,9rem, -1rem);
    background-color: #00a2ff;
}

.spanTitel{
    font-size: x-large;
    font-family: 'Circular-Loom';
    color: white;
}

.spanD{
    margin: 5px;
    font-size: large;
    font-family: "Times New Roman", Times, serif;
    text-align: center;
  /*  overflow-y: scroll;
    max-height: 150px;
    min-height: 50px;  */
}


.delete {
    width: 25px;
    margin: 5px;
    height: 25px;
}