body {
    margin: 0;
    background-image: url('../img/background_images/beach_blue.jpg');
    background-size: cover;
}

.all {
    display: flex;
    justify-content: space-between;
    width: 850px;
}

.contain {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contain h1 {
    color: rgb(9, 2, 2);
}

.ToWrite {
    background-color: #02ccff;
    width: 175px;
    height: 600px;
    opacity: 0.5;
}

.background {
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.todo {
    background-color: #0065fd;
    height: 100px;
    border: ridge;
    width: 100%;
    text-align: center;
}

.todo:hover {
    transform: translate( 1rem, -1rem);
    background-color: #00a2ff;
}

.delete {
    width: 30px;
    margin-right: 20px;
}