body {
    margin: 0;
    background-image: url('../img/background_images/beach blue.jpg');
    background-size: cover;
}

.all {
    display: flex;
    justify-content: space-between;
    width: 850px;
}

.contain {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contain h1 {
    color: rgb(9, 2, 2);
}

.ToWrite {
    background-color: #047436;
    width: 175px;
    height: 600px;
    opacity: 0.5;
}

.bg {
    background-image: url(../img/Erde.jpg);
    display: flex;
    align-items: flex-start;
    justify-content: center;
}