
.footer-cont {
background-color: rgba(14, 14, 15, 0.35);
    border-top: 5px solid #ffffff;
 display: flex;
 justify-content: space-between;
 align-items: center;
}

.copyright {
        width: 200px;
        height: 100px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.footer-links {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
}

.footer-links p {
    margin-right: 50px;
}

.footer-links a:hover {
text-decoration: underline 1px;
}


.margin {
    margin-top: -10px;
}

 .img-cont {
width: 24px;
    margin-right: 20px;
}

.cont-right {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-links {
    width: 900px;
}