.categories {
    display: flex;
    justify-content: space-evenly;
}

span {
    color: white;
    font-size: 25px;
    margin-top: 15px;
    font-weight: bolder;
}

.backlog-container {
    width: 100vw;
    height: 100vh;
    background-color: #2066ae;
    opacity: 0.5;
    margin-left: 200px;
    margin-top: 20px;
}