.bg {
    background-image: url('img/Erde.jpg');
}

.navbar-container {
    width: 200px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    background-color: rgba(14, 14, 15, 0.493);
    border-right: 5px solid #2066ae;
}

div.navbar-container img {
    width: 80px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 15px;
}

.navigation {
    display: flex;
    flex-direction: column;
}

a {
    text-decoration: none;
    color: white;
    margin-bottom: 25px;
    font-size: 25px;
    margin-left: 15px;
}