<div class="footer-cont">
    <div class="copyright">
        <p>&copy copyright 2021</p>
        <p class="margin">by JOIN.io</p>
    </div>
    <div class="footer-links">
        <p>Datenschutz</p>
        <p>Impressum</p>
        <p>AGB</p>
    </div>

    <div class="cont-right">
        <img class="img-cont" src="../img/social_icons/facebook-64.ico">
        <img class="img-cont" src="../img/social_icons/telegram-64.ico">
        <img class="img-cont" src="../img/social_icons/twitter-64.ico">
    </div>


</div>