<div class="navbar-container">
    <img src="img/logo2.png">
    <nav id="navigation">
        <a class="navlist" id="board" href="Board.html" onclick="activeLinkBoard()">Board</a>
        <a class="navlist" id="backlog" href="backlog.html">Backlog</a>
        <a class="navlist" id="addTask" href="addTask.html">Add Task</a>
        <a class="navlist" id="help" href="help.html">Help</a>
    </nav>
    <div id="design-container">
        <a class="navlist" href="design.html">Design</a>
        <img src=./img/farbpalette.png class="img-design">
    </div>
</div>